* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

  body {
   font-family: 'Manrope', sans-serif;
  }