* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 /* colors */
 --primary-50: #fef2f2;
 --primary-100: #fee2e2;
 --primary-200: #fecaca;
 --primary-300: #fca5a5;
 --primary-400: #f87171;
 --primary-500: #ef4444;
 --primary-600: #dc2626;
 --primary-700: #b91c1c;
 --primary-800: #991b1b;
 --primary-900: #7f1d1d;

 /* zinc */
 --grey-50: #fafafa;
 --grey-100: #f4f4f5;
 --grey-200: #e4e4e7;
 --grey-300: #d4d4d8;
 --grey-400: #a1a1aa;
 --grey-500: #71717a;
 --grey-600: #52525b;
 --grey-700: #3f3f46;
 --grey-800: #27272a;
 --grey-900: #18181b;

 /* other colors */
 --black: #0f0e17;
 --white: #cccccd;

 /* vars */
 --backgroundColor: var(--grey-900);
 --textColor: var(--grey-400);
 --headingColor: var(--grey-300);
 --borderRadius: 0.25rem;
 --letterSpacing: 1px;
 --transition: 0.3s ease-in-out all;
 --max-width: 1440px;
 --fixed-width: 600px;
}

html {
 font-size: 100%;
} /*16px*/

body {
 background: var(--backgroundColor);
 font-family: 'Manrope', sans-serif;
 font-weight: 400;
 line-height: 1.75;
 color: var(--textColor);
}

p {
margin-bottom: 1.5rem;
max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
 margin: 0;
 margin-bottom: 1.38;
 line-height: 1.3;
 text-transform: capitalize;
 letter-spacing: var(--letterSpacing);
 color: var(--headingColor);
}

/* extra */
h1 {
 margin-top: 0;
 font-size: 3.052rem;
 font-weight: 300;
}

h2 {
 font-size: 2.441rem;
}

h3 {
 font-size: 1.953rem;
}

h4 {
 font-size: 1.563rem;
}

h5 {
 font-size: 1.25rem;
}

a {
 text-decoration: none;
}

ul {
 list-style-type: none;
 padding: 0;
}

/* navbar */
.navbar {
 z-index: 99;
 position: fixed;
 width: 100%;
 height: auto;
 background-color: var(--grey-800);
 padding: 20px;
 box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
  0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 1440px;
 margin: 0 auto;
}

.navbar ul {
 display: flex;
 align-items: center;
}

.navbar li {
 margin: 0 15px;
 /* font-weight: bold; */
}

.navbar a {
 color: var(--headingColor);
 text-decoration: none;
}

.navbar a:hover {
 color: var(--grey-500);
 transition: 0.15s ease-in-out all;
}

.navbar-nav-left {
 text-transform: capitalize;
 flex: 1;
 margin-left: 20px;
}

.navbar-nav-left a {
 color: var(--textColor);
}

.navbar-nav-left a:hover {
 color: var(--grey-200);
 transition: 0.1s ease-in-out all;
}

.navbar-nav-right li:first-child a {
 display: flex;
 align-items: center;
}

.navbar-nav-right li:nth-child(2) {
 margin: 0 5px;
}

/* hamburger menu */
.hamburger {
 cursor: pointer;
 width: 24px;
 height: 24px;
 position: relative;
 background: none;
 border: none;
 z-index: 10;
 transition: all 0.25s;
 display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
 position: absolute;
 top: 0;
 left: 0;
 width: 24px;
 height: 2px;
 background: var(--headingColor);
 transform: rotate(0);
 transition: all 0.5s;
}

.hamburger-middle {
 transform: translateY(7px);
}

.hamburger-bottom {
 transform: translateY(14px);
}

.open .hamburger-top {
 transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
 display: none;
}

.open .hamburger-bottom {
 transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* mobile menu */
.mobile-menu {
 z-index: 98;
 position: fixed;
 top: 64px;
 left: 0;
 background-color: var(--grey-800);
 width: 50%;
 height: 100%;
 padding: 30px;
 transition: all 0.5s;
}

.mobile-menu ul {
 line-height: 3;
 border-bottom: var(--grey-300) solid 1px;
 padding-bottom: 10px;
 margin-bottom: 30px;
}

.mobile-menu a {
 text-decoration: none;
 color: var(--textColor);
}

.mobile-menu a:hover {
 color: var(--grey-200);
}

.mobile-menu div {
 margin-top: 20px;
}

.mobile-menu div a {
 display: flex;
 align-items: center;
}

.hidden {
 transform: translateX(-100%);
}

.no-scroll {
 overflow: hidden;
}

/* container */
.container {
 width: 100vw;
 min-height: 600px;
 /* background: antiquewhite; */
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url(./images/trees.jpg) center/auto no-repeat fixed;
 background-position: center;
 background-size: auto;
 background-attachment: fixed;
 margin-bottom: 5rem;
}

.container h1 {
 display: inline-block;
 /* padding-top: 10%; */
}

/* JS below */
.reveal {
 position: relative;
 transform: translateY(150px);
 opacity: 0;
 transition: 1s all ease;
}

.reveal.active {
 transform: translateY(0);
 opacity: 1;
}
/* JS above */

/* title */
.title {
 text-align: center;
 margin-bottom: 1rem;
}

.title-underline {
 background: var(--grey-300);
 width: 12rem;
 height: 0.1rem;
 margin: 0 auto;
 margin-top: -0.25rem;
}

/* divider */
.divider {
 width: 95%;
 height: 1px;
 background: var(--grey-300);
 margin: 40px auto;
}

/* footer */
.footer p {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 margin-bottom: 2rem;
}

.footer-container {
 width: 100%;
 max-width: 1440px;
 margin: 0 auto;
 padding: 0 30px 30px;
}

.social {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px 0;
}

.social img {
 width: 35px;
 height: 35px;
}

.social a {
 text-decoration: none;
 margin-right: 20px;
}

/* media */
@media only screen and (max-width: 600px) {
 .me {
  flex-direction: column;
 }
}
@media (min-width: 601px) {
 .xavier {
  margin-top: 25vh;
 }
}

@media (max-width: 768px) {
 .hamburger {
  display: block;
 }

 .navbar .navbar-nav-left,
 .navbar .navbar-nav-right {
    display: none;
 }

 .footer {
  text-align: center;
 }
}

@media (min-width: 1440px) {
 .box {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
 }

 .divider {
  max-width: 90%;
 }
}

/* about */

.me {
 /* debug */
 /* border: 2px solid var(--grey-100); */

 max-width: 800px;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.circular-image {
 /* flex: 1; */
 max-width: 300px;
 max-height: 300px;
 border-radius: 50%;
 margin-top: 25vh;
}

.xavier {
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 /* margin-top: 25vh; */
}

.xavier h1 {
 flex: 1;
 font-size: 1.953rem;
 text-transform: none;
}

.xavier div {
 margin-top: 1vh;
 margin-bottom: 1vh;
}

.xavier p {
 flex: 1;
}

/* art */
.three-d{
   text-shadow: -0.06em 0 red, 0.04em 0 cyan;
   letter-spacing: 0.1em;
}
.photo-grid-container {
 display: flex;
 justify-content: center;
}

.photo-grid {
 width: 90vw;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: center;
 gap: 1rem;
}

.photo-grid-item img{
 width: 400px;
 height: 400px;
 object-fit: contain;
}

.photo-grid-item vid{
 width: 540px;
 height: 960px;
 object-fit: contain;
}

.well {
 object-position: -50px 50%;
}

.two-d {
 margin-top: 5rem;
}
